<form [formGroup]="formYAxisConfig" (submit)="submitForm($event)">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Settings</h4>
    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
      (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h4>Y Axis configuration</h4>
    <div>
      <div class="mb-2">
        <button type="button" class="btn btn-primary" (click)="addYAxis()">Add Y Axis</button>
      </div>
      <div *ngFor="let yAxis of listYAxisConfigs; let index = index;">
        <hr>
        <app-axis-configuration [form]="formYAxisConfig" [yAxis]="yAxis" [axisIndex]="index"
          (onDeleteEvent)="onDeleteAxis($event, index)"></app-axis-configuration>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary"
      (click)="closeModal()">Cancel</button>
    <button type="submit" ngbAutofocus class="btn btn-primary">Submit</button>
  </div>
</form>
