<section>
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Multi lines navigator chart</h1>
    <button type="button" class="btn btn-sm btn-outline-secondary" (click)="openChartSettings()">Settings</button>
  </div>
  <div>
    <div class="text-right">
      <div class="row">
        <div class="col-6">
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Last Days</label>
            <div class="col-md-4">
              <select class="form-control" [formControl]="lastDay">
                <option *ngFor="let item of lastDaysOptions" [value]="item">{{item}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-6">
          <button type="button" class="btn btn-sm btn-outline-secondary" (click)="resetChart()">Reset</button>
        </div>
      </div>
    </div>
    <app-multi-lines-navigator-chart
      [inputStates]="chartInputStates"
      (onSelectionX)="onSelectionX($event)"
      (onChangeNavigatorRange)="onChangeNavigatorRange($event)">
    </app-multi-lines-navigator-chart>
  </div>
</section>
